.gel{
    margin: auto;
    background: url("photo/水.png") no-repeat center center;
}
.itemd{
    background: #fff;
    color: #6b6b6b;
}
.iteme{
    background: #6b6b6b;
    color: #fff;
}